html, body{
    padding: 0.1px;
    margin: 0px;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content: space-between;
    font-family:cursive;
}

.pizzacontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 5em;
    
}
img{
    height: 200px;
    width: 250px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #a0c4f8;
    padding: 1em;
    border-top: black solid 5px;
    border-bottom: black solid 5px;
}
nav{
    background-color: #a0c4f8;
    border-top: black solid 5px;
    border-bottom: black solid 5px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.content{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
}
.row{
    display:flex;
    align-items: center;
}
.item1{
    flex-grow: 20;
    font-size: 20px;
    font-weight: bold;
}
.item2{
    flex-grow: 1;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;

}
.item3{
    font-size: 0.7em;
    font-weight: bold;
}
.item3 img{
    height: 25px;
    width: auto;
    padding-top: 5px;
}
.PizzaText{
    display: block;
    text-align: center;
}
.PizzaText a{
    text-decoration: none;
    color: white;
}
.PizzaImage{
    width: 300px;
    padding-bottom: 1.5em;
}
.title a{
    text-decoration: none;
}
.titleimage{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.titleimage img{
    width: 600px;
    height: auto;
    padding-bottom: 1.5em;
}
.navtitle{
    padding-left: 0.5em;
}
.indextitle{
    margin: auto;
}
.navigation{
    padding-right: 0.5em;
}
.navigation a{
    text-decoration: none;
    padding-right: 25px;
}
.dressing{
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
}
.frage {
    width: 40%;
    text-align: right;
    padding-right: 5px;
  }
 
.antwort {
    width: 30%;
    margin: 5px;
    overflow: auto;
  }
.row6{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.antwortbutton{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-top: 5px;
    margin-left: 5px;
}
textarea{
    resize: none;
    border-width: 4px;
    border-color: black;
    width: 100%;
    margin: 10px;
    height: 200px

}
.eingabe{
    width: 30%;

}
input[type=email], input[type=text]{
    width: 100%;
    margin: 10px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}
.auswahl{
    width: 30%;
    display:flex;
    justify-content: space-between;
    padding-top: 17px;
    flex-wrap: wrap;
}
input[type=radio]{    
    display: grid;
    place-content: center;
}
      
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}
      
input[type="radio"]:checked::before {
    transform: scale(1);        
}

.PizzaText{
    position: absolute;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 3em; 
    margin-bottom: 30px;
}
.PizzaTitleImage{
    width: 300px;
    padding-bottom: 1.5em;
    position: relative;
    z-index: 1;
}
.titlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.auswahl2{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-left: 5px;
}
.carticon{
    display: flex;
    
    margin-top: -1em;
    padding-right: 10px;
    padding-top: 70px;

}
.saladtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.headingwrapper{
    width: 20%;
}
.cart{
    width: 50px;
    height: auto;
    cursor: pointer;
}
#cart-container{
    display: flex;
    align-items: center; 
    justify-content: flex-end;  
    width: 20%;
}
.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
  
  
  
  
  